src/main/mule/ntn-account-update.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:module-json-logger="http://www.mulesoft.org/schema/mule/module-json-logger" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/module-json-logger http://www.mulesoft.org/schema/mule/module-json-logger/current/mule-module-json-logger.xsd">
	<http:request-config name="NTN-accounts-papi" doc:name="HTTP Request configuration" doc:id="e61217f5-e20b-4689-a037-1d5b59bf5704" >
		<http:request-connection host="${papi.host}" port="${papi.port}" connectionIdleTimeout="300000" protocol="HTTPS"/>
	</http:request-config>
	<module-json-logger:config name="Json_logger_Config" doc:name="Json-logger Config" doc:id="454315af-1860-4392-87a5-8e60ebdce35d" />
	<flow name="ntn-account-updateFlow" doc:id="31d9aced-3c01-4b65-81a6-fe9fcba7cc8b" >
		<logger level="INFO" doc:name="Incoming SOAP Message" doc:id="cd992a86-e61a-41ca-82f9-09e613634e17" message="#[payload]"/>
		<ee:transform doc:name="Transformed JSON for PAPI" doc:id="c7099923-6235-4e07-a1cb-5bc51d5989eb" >
			<ee:message >
				<ee:set-payload resource="dwl/jsonPapi.dwl" />
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Transformed JSON for PAPI" doc:id="4c447fa1-cb4c-4a3a-8a27-4c054ec549a0" message="#[payload]"/>
		<try doc:name="Try" doc:id="2aeedae4-5073-4474-9a8d-ff5fae7ba58a" >
			<http:request method="${papi.method}" doc:name="Request to ntn-accounts-sync-papi" doc:id="c145ddcf-9618-4e5e-941f-2fcd092c7848" config-ref="NTN-accounts-papi" path="${papi.path}">
			<http:headers><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
		</http:request>
			<error-handler >
				<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="93226c14-8c3b-4fd6-b4a6-d5918c77d1aa" type="ANY">
					<logger level="INFO" doc:name="On Error Propagate Logger" doc:id="f71459cc-5d2d-44f1-9a00-33f769afec70" message="#[payload]"/>
				</on-error-propagate>
			</error-handler>
		</try>
		<ee:transform doc:name="Transform Message" doc:id="03dc488a-1edc-44a6-8184-37a61e9ca1c1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger of EAPI" doc:id="c92db340-1653-4cc0-a9a3-c74bdd8ff748" message="#[payload]"/>
	</flow>
</mule>
